// Factored

.font-weight-bold {
    font-weight: bold;
}

.margin-right-and-left {
    margin: 0 100px;
}

.margin-bottom-text {
    margin-bottom: 15px;
}

.cursor-pointer {
    cursor: pointer;
}

.display-none {
    display: none;
}